html{
    box-sizing: border-box;
}
body{
    background-color: rgb(143, 214, 12);  
}
header{
    background-color: rgb(77, 10, 231);
}


section{
    background-color: rgb(202, 13, 139);
}












footer{
    background-color: rgb(38, 145, 13);





